<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Credential libraries also ship native authentication support, which this
         browser-only diagnostic does not use. Do not inherit its permissions. -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" tools:node="remove" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" tools:node="remove" />
    <queries>
        <intent><action android:name="android.support.customtabs.action.CustomTabsService" /></intent>
    </queries>
    <!-- Only the API 34+ settings PendingIntent is used. No native credential
         ceremonies or Android 13 Play Services backport are needed. -->
    <application android:label="@string/app_name" android:icon="@drawable/ic_diagnosis"
        tools:ignore="CredentialDependency"
        android:allowBackup="false" android:fullBackupContent="@xml/backup_rules" android:dataExtractionRules="@xml/data_extraction_rules"
        android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
